@model Customer_Project_Administration_Application.ViewModels.CustomerFolder.CreateCustomerViewModel

@{
    ViewData["Title"] = "Create Customer";
}
<div class="card">
    <div class="card-header">
        <h1>Create Customer</h1>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input class="form-control" asp-for="Name" />  
                <span asp-validation-for="Name" class="field-validation-error text-danger"></span>
            </div>
            <button class="btn btn-primary" type="submit" >Add Customer</button>
        </form>

    </div>
</div>